#main_body {
  display: flex;
  margin: auto;
  height: auto;
  width: auto;
}
.box {
  background: #202832;
  margin: 1rem;
  color: aliceblue;
  margin-top: 1rem;
}

#profile {
  width: 30rem;
}
#about {
  width: auto;
  height: auto;
  word-spacing: 2px;
  margin-right: 1rem;
}
img {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25%;
  width: 10rem;
  height: 10rem;
}
#DETAILS {
  margin: 1rem;
  cursor: default;
}
#DETAILS p:hover {
  color: #e9e0d1;
  transform: scale(1.05);
}
.skill p {
  width: 8rem;
  height: 8rem;
  border-radius: 20%;
  background: #181e28;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.skill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-top: -2rem;
  margin-left: 9rem;
}

.skill p:hover {
  color: #223349;
  transform: scale(1.2);
  background: #e9e0d1;
}
#info {
  margin: 0.7rem;
}
#profimg:hover {
  transform: scale(1.05);
}
#CV {
  background: #223349;
  border: none;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 20%;
  margin: 30px;
  text-decoration: none;
}
#CV:hover {
  transform: scale(1.1);
  background: #e9e0d1;
}
#CV1 {
  text-decoration: none;
  color: #e9e0d1;
}
#CV1:hover {
  text-decoration: none;
  color: #223349;
}
#icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#icon a {
  color: antiquewhite;
  font-size: x-large;
}

#icon a {
  display: inline-block;
  position: relative;
  color: #e9e0d1;
}

#icon a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e9e0d1;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#icon a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#skilltag {
  margin-left: 1rem;
  font-size: large;
  cursor: default;
}

@media (min-width: 320px) and (max-width: 480px) {
  #main_body {
    display: flex;
   flex-direction: column;
  }
  #profile {
    display: flex;
    justify-content: center;
    align-items: center;
width: 22.5rem;
    flex-direction: column;
  }
  #icon {
    display: flex;
    align-items: center;
    gap:2rem;
  }
}
