body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background: black;
 color: aliceblue;
}

::-webkit-scrollbar{
  width: auto;
}
::-webkit-scrollbar-track{
background:#213148;
}
::-webkit-scrollbar-thumb{
background:#F9F2EA;
border : 5px solid transparent;
border-radius :10px;
background-clip:content-box;
}
